/* Toggle A */
input:checked ~ .en-dot {
	transform: translateX(100%);
}

.btn-gradient {
	background: rgb(18, 103, 16);
	background: linear-gradient(
		90deg,
		rgba(18, 103, 16, 1) 0%,
		rgba(123, 178, 78, 0.8799894957983193) 100%
	);
}
.font-gradient {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: rgb(18, 103, 16);
	background: linear-gradient(
		90deg,
		rgba(18, 103, 16, 1) 0%,
		rgba(123, 178, 78, 0.8799894957983193) 100%
	);
}

.bg-gradient{
	background: rgb(7,95,10);
background: linear-gradient(90deg, rgba(7,95,10,1) 0%, rgba(129,183,82,1) 100%);
}
.hover_gradient:hover{
    transition: ease-in;
    background: rgb(7,95,10);
    background: linear-gradient(180deg, rgba(7,95,10,1) 0%, rgba(129,183,82,1) 100%);
}
.cloud__image{
	top: 11%;
    right: 17%;
}


/* owl carousel css  */

.play_store_btn a img{
	width: 150px !important;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item>div{
	height: 650px;
	display: grid;
	place-items: center;
}
@media screen and (max-width:640px){
	.owl-carousel .owl-stage-outer .owl-stage .owl-item>div{
		height: 400px;
	}	
}
@media screen and (max-width:768px){
	.owl-carousel .owl-stage-outer .owl-stage .owl-item>div{
		height: 450px;
	}	
}
@media screen and (max-width:1024px){
	.owl-carousel .owl-stage-outer .owl-stage .owl-item>div{
		height: 450px;
	}	
}
@media screen and (max-width:1280px){
	.owl-carousel .owl-stage-outer .owl-stage .owl-item>div{
		height: 550px;
	}	
}
.owl-carousel .owl-nav{
	margin-top: 0 !important;
}
.owl-carousel .owl-nav button{
	border: 0 !important;
    color: #fff !important;
    font-size: 25px !important;
    height: 50px;
    left: 50px;
    line-height: 35px;
    margin-top: -25px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    border-radius: 50% !important;
    background-color: rgb(255, 255, 255,.6) !important;
}
.owl-carousel .owl-nav button:hover{
	background-color: rgba(129,183,82,1) !important;
}
.owl-carousel .owl-nav button.owl-next{
	left: auto;
	right: 50px;
}
.owl-carousel .owl-dots{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
    bottom: 4%;
}
.owl-theme .owl-dots .owl-dot span{
	background-color: #fff !important;
}
.owl-theme .owl-dots .owl-dot.active span{
	background-color: rgba(7,95,10,1) !important;
}
.owl-theme .owl-dots .owl-dot span:hover{
	background-color: rgba(7,95,10,1) !important;
}