/* Toggle A */
input:checked ~ .en-dot {
	transform: translateX(100%);
}

.btn-gradient {
	background: rgb(18, 103, 16);
	background: linear-gradient(
		90deg,
		rgba(18, 103, 16, 1) 0%,
		rgba(123, 178, 78, 0.8799894957983193) 100%
	);
}
.font-gradient {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: rgb(18, 103, 16);
	background: linear-gradient(
		90deg,
		rgba(18, 103, 16, 1) 0%,
		rgba(123, 178, 78, 0.8799894957983193) 100%
	);
}

.bg-gradient{
	background: rgb(7,95,10);
background: linear-gradient(90deg, rgba(7,95,10,1) 0%, rgba(129,183,82,1) 100%);
}
.cloud__image{
	top: 11%;
    right: 17%;
}